.create {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.create h1 {
    text-align: center;
    font-size: 2rem;
}

.create button {
    width: 100%;
    margin: 1rem auto;
}

.container {
    width: 90%;
    color: white;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(69, 71, 71);
}

table {
    width: 100%;
}

#edit {
    color: rgb(200, 214, 122);
}

#delete {
    color: rgb(211, 93, 63);
}